#General build artifacts
*.mk
*.o
*.so
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep

Debug/
#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata

#Mac
.DS_Store
.DS_Store?
